#clock-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards 2s;
    padding: 10px 20px;
    background: transparent; /* Transparent background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* space between clock and SVG */
}

@media screen and (max-width: 600px) {
    #clock-container {
        display: flex;
        flex-direction: row-reverse;
        top: 5px;
        right: 5px;
        padding: 5px 10px;
    }
    
}

#clock {
    font-size: 2rem;
    background: linear-gradient(90deg, #03fa6e, #00ff00, #03fa6e);
    background-size: 200% 200%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientShift 3s linear infinite;
    border: 2px solid transparent;
    border-radius: 10px;
    text-shadow: 0 0 10px #03fa6e, 0 0 20px #03fa6e;
    cursor: pointer;
    white-space: nowrap;
}

/* Neon flicker effect */
@keyframes neon-flicker {
    0%, 100% {
        text-shadow: 0 0 15px #03fa6e, 0 0 20px #00ff00;
    }
    50% {
        text-shadow: 0 0 25px #03fa6e, 0 0 30px #00ff00;
    }
}

/* Gradient animation from left to right */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* Fade-in effect */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
